body{
    margin: 0;
    background: #F3F3F3;
    color: #0056b3;
    font-family: 'Itim', monospace;
    font-size: 1.750em;
}

a:link {color: #c82333; text-decoration: none;}
a:visited {color: #c82333;}
a:active {color: #c82333;}
a:hover {color: #e0a800;}

h1 {
    font-size: 4em;
    font-weight: 200;
    text-align: center;
    letter-spacing: 1px;
    margin-top: 20px;
    margin-bottom: 0px;
}
p {
    text-align: center;
    margin-top: 15px;
    margin-bottom: 25px;
}

.board {
    width: 600px;
    margin: 0 auto;
    text-align: center;
}
.card {
    width: 128px;
    height: 128px;
    display: inline-block;
    margin: 3px;
    background-image: url('../img/easier/ct.png');
    background-position: center;
    border: 3px solid #f80018;
    border-radius: 5px;
    cursor: pointer;
    filter: brightness(70%);
    transition: all .3s ease-in-out;
}
.card:hover {
    border: 3px solid #e0a800;
    filter: brightness(100%);
}
.cardA {
    width: 128px;
    height: 128px;
    display: inline-block;
    margin: 3px;
    background-image: url('../img/easier/ct.png');
    background-position: center;
    border: 3px solid #e0a800;
    border-radius: 5px;
    cursor: default;
    filter: brightness(100%);
    transition: all .3s ease-in-out;
}
.score {
    margin-top: 8px;
    text-align: center;
}

.buttons {
    text-align: center;
    margin-bottom: 20px;
}